image: docker:latest

services:
  - docker:dind

stages:
  - build

before_script:
  - apk --no-cache add make
  - docker login -u $CI_BUILD_USER -p $CI_BUILD_TOKEN

build:
  stage: build
  script:
    - make build
    - make push